.panda-slider-box{
    background-color: #0056d828;
    margin: auto
}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
    color: #363958;
}
section{
    margin: 40px 0;
    
}
.slider-header h1{
    color: #eea111 ;
    font-size: 60px; 
    font-weight: bold;
    font-family: arial;
}
.slider-header span{
    color: #363958;
    display: block;
}
.penguin-logo{
    width: 200px;
}
.dropdown-menu-own{
    height: 60vh;
}
.penguin-search{
    width: 80%;
}
.slider-img img{
    max-width: 100%;
    height: auto;
}



/* Shopping Cart started */
.card-img{
    width: 90%;
    margin: auto;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
}
.buy-now{
    align-items: center;
}
h1.buy-now{
    color: rgba(255, 166, 0, 0.87);
}
h2.buy-now{
    color: white;
    padding: 5px 15px;
    font-weight: bold;
}
.card-img img{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 5px;

}
.shopping-cart{
    margin:40px 0;
}
.contact-section{
    margin: 150px 0;
}
.contact-box{
    width: 100%;
    border-radius: 10px;;
}
.contact-box img{
    width: 30%;
    padding: 20px;
}
.shop-box{
    overflow: hidden;
    height: 100%;
}

/* Footer section */

.back-top{
    background: #d8dce228;
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-family: arial;
    padding: 10px 0;
}
.back-top a{
    color: #eea111;
    text-decoration: none;
    display: block;
}
footer {
  background-color: #d8dce228;
  text-align: center;
  padding: 2rem 0;
}
footer h1 {
  color: #666;
  margin-bottom: 2rem;
  font-family: "arial", cursive;
}
footer h1 span {
  color: #666;
}
footer p {
  color: #000000;
  margin-bottom: 2rem;
}
footer span {
  color: #000000;
}


/* Responsive */

@media (max-width:991px){
    .hide-nav{
        display: none;
    }
    .penguin-search{
        width: 100%;
    }
}
@media (max-width:767px){
    .hide-nav{
        display: none;
    }
    .penguin-search{
        width: 100%;
    }
}
